doctype html
html
  head
    title An Article
  body
    include:markdown-it article.md

    p requires <br/>
      | $ npm install --save jstransformer-coffee-script <br />
      | $ npm install --save jstransformer-markdown-it