doctype html

html
  head
    style
      include main.css
    
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js' integrity='sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=' crossorigin='anonymous')

  body

    include mixin/quote.pug
    
    <!-- quote(quote, author, CSS-classes{morning, forenoon, lunch, afternoon, evening, night}) -->
    .quotes(class='ENG')
      +quote('Think about what makes you smile.', 'Mentor', '')
      +quote('What day is today?', 'Mentor', '')
      +quote('What are you thankful for?', 'Mentor', '')
      +quote('What would make that day great?', 'Mentor', '')
      +quote('What do you want (to be)?', 'Mentor', '')
      +quote('Amazing things that happened today?', 'Mentor', '')
      +quote('How could you have made today better?', 'Mentor', '')
      +quote('Read about the Eisenhower-method', 'Mentor', '')
      +quote('Be a Farmer - Not a Hunter!', 'Allan Dib', '')
      +quote('Why are you doing this?', 'Mentor', '')
      +quote('Have you rewarded yourself already today?', 'Mentor', '')
      +quote('Destroy what destroys you!', 'Ton Steine Scherben', '')
      +quote('If you’re alive, you’re a creative person.', 'Elizabeth Gilbert', '')
      +quote('You’re not a genius, you have a genius.', 'Elizabeth Gilbert', '')
      +quote('Make something, do something, do anything.', 'Elizabeth Gilbert', '')
      +quote('Stop complaining and get to work.', 'Elizabeth Gilbert', '')
      +quote('Frustration is not an interruption of the process, frustration is the process.', 'Elizabeth Gilbert', '')
      +quote('Let go of your fantasy of perfection.', 'Elizabeth Gilbert', '')
      +quote('If something is authentic enough, it will feel original.', 'Elizabeth Gilbert', '')
      +quote('If you’re in the arts, you don’t need graduate school.', 'Elizabeth Gilbert', '')
      +quote('Creative fields make for crap careers.', 'Elizabeth Gilbert', '')
      +quote('Curiosity is the truth and the way of creative living.', 'Elizabeth Gilbert', '')
      +quote('Do not react instantly to instant messages.', 'Mentor', '')
      +quote('Delegate, but don\'t abdicate.', 'Derek Sivers', '')
      +quote('Trust, but verify.', 'Derek Sivers', '')
      +quote('Be retrospective.', 'Mentor', '')
      +quote('Be on time.', 'Mentor', '')
      +quote('Start with a friendly "Good morning".', 'Mentor', '')
      +quote('Get your workplace in order.', 'Mentor', '')
      +quote('Stay hydrated.', 'Mentor', '')
      +quote('Get rid of distractions.', 'Mentor', '')
      +quote('Reply to emails by system.', 'Mentor', '')
      +quote('Do some body stretching.', 'Mentor', '')
      +quote('Keep you business social networks up-to-date.', 'Mentor', '')
      +quote('Work on your self-confidence.', 'Mentor', '')
      +quote('Learn how to deal with critics.', 'Mentor', '')
      +quote('Have a good & healthy breakfast.', 'Mentor', '')
      +quote('Excercise in the morning burns more fat.', 'Mentor', '')
      +quote('Turn off your phone in the evening.', 'Mentor', '')
      +quote('You snooze - you lose.', 'Mentor', '')
      +quote('Dream, Dance, Deliver ... In the end you need to deliver. The faster, the better!', 'Volkert Engelsman', '')
      +quote('There is no sustainability without transparency!', 'Volkert Engelsman', '')
      +quote('The costs of inactivity are higher than those of the activity.', 'Volkert Engelsman', '')
      +quote('Kust do it! Now!', 'Mentor', '')
      +quote('You´re not tired, you´re just lazy.', 'Mentor', '')
      +quote('Nobody will do it four you.', 'Mentor', '')
      +quote('Try and fail, but don´t fail to try.', 'Mentor', '')
      +quote('Laugh more.', 'Mentor', '')
      +quote('Today is a good day to have a good day.', 'Mentor', '')
      +quote('Do more of what makes you happy.', 'Mentor', '')
      +quote('Regret nothing.', 'Mentor', '')
      +quote('Every day may not be good but there is something good in every day.', 'Mentor', '')
      +quote('Follow your dreams.', 'Mentor', '')
      +quote('Don´t forget to be awesome.', 'Mentor', '')
      +quote('Imporevemt needs time.', 'Mentor', '')
      +quote('Do not confuse empathy with compassion.', 'Mentor', '')
      +quote('Visualize your to-do list.', 'Mentor', '')
      +quote('Your bed is an electronic exclusion zone.', 'Mentor', '')
      +quote('Do not waste your time with surfing the internet.', 'Mentor', '')
      +quote('Are you in a meeting? Put away your smartphone.', 'Mentor', '')
      +quote('Don´t be afraid to say no.', 'Mentor', '')
      +quote('Don´t gossip.', 'Mentor', '')
      +quote('Don´t compare.', 'Mentor', '')
      +quote('Don´t force creativity.', 'Mentor', '')
      +quote('Set your alarm to five minutes earlier.', 'Mentor', '')
      +quote('Get the difficult task out of the way first.', 'Mentor', '')
      +quote('Try 90 minutes work intervals.', 'Mentor', '')
      +quote('Follow the two minute rule.', 'Mentor', '')
      +quote('Don´t multitask.', 'Mentor', '')
      +quote('Take a walk.', 'Mentor', '')
      +quote('Take a power nap.', 'Mentor', '')
      +quote('Reduce your alcohol consumption.', 'Mentor', '')
      +quote('Believe in yourself.', 'Mentor', '')
      +quote('Focus on solutions and not on the problem.', 'Mentor', '')
      +quote('Don´t be too emotional.', 'Mentor', '')
      +quote('Don´t be afraid of failing.', 'Mentor', '')
      +quote('Be persistent.', 'Mentor', '')
      +quote('Adapt or die.', 'Charles Darwin', '')
      +quote('Find your biological prime time.', 'Mentor', '')
      +quote('Mute notifications.', 'Mentor', '')
      +quote('Try the Pomodore-technique.', 'Mentor', '')
      +quote('Maintain a "Read Later" list.', 'Mentor', '')
      +quote('Built habbits.', 'Mentor', '')
      +quote('Drink coffee strategically.', 'Mentor', '')
      +quote('Divide big tasks in small tasks.', 'Mentor', '')
      +quote('Make verbal commitments.', 'Mentor', '')
      +quote('Plan a reward.', 'Mentor', '')
      +quote('Network well.', 'Mentor', '')
      +quote('Make your bed.', 'Mentor', '')
      +quote('Find a personal mentor.', 'Mentor', '')
      +quote('Try to implement automations, e.g. IFTTT.', 'Mentor', '')
      +quote('Try speed reading.', 'Mentor', '')
      +quote('Use a cloud storage.', 'Mentor', '')
      +quote('Work out consistently.', 'Mentor', '')
      +quote('Read more.', 'Mentor', '')
      +quote('Play video games sometimes.', 'Mentor', '')
      +quote('Try yoga.', 'Mentor', '')
      +quote('Sit up straight.', 'Mentor', '')
      +quote('Sleep enough.', 'Mentor', '')
      +quote('Slow down.', 'Mentor', '')
      +quote('Be open minded.', 'Mentor', '')
      +quote('Take risks and take the responsability.', 'Mentor', '')
      +quote('Be passionate.', 'Mentor', '')
      +quote('Be humble.', 'Mentor', '')
      +quote('Avoid negative people.', 'Mentor', '')
      +quote('Set priorities.', 'Mentor', '')
      +quote('Unclutter your life.', 'Mentor', '')
      +quote('Ask a friend for a hug.', 'Mentor', '')
      +quote('Look up the stars.', 'Mentor', '')
      +quote('Stop bad habits.', 'Mentor', '')
      +quote('Remember you always have options: Accept, Change or Leave.', 'Mentor', '')
      +quote('Talk less and listen more.', 'Mentor', '')
      +quote('Freely praise other people.', 'Mentor', '')
      +quote('Follow your hobby.', 'Mentor', '')
      +quote('Look for the majority.', 'Hans Rosling', '')
      +quote('Expect bad news.', 'Hans Rosling', '')
      +quote('Lines might bend.', 'Hans Rosling', '')
      +quote('Calculate the risk.', 'Hans Rosling', '')
      +quote('Get things in proportion.', 'Hans Rosling', '')
      +quote('Question your categories.', 'Hans Rosling', '')
      +quote('Slow change is still change.', 'Hans Rosling', '')
      +quote('Get a toolbox.', 'Hans Rosling', '')
      +quote('Resist pointing your finger.', 'Hans Rosling', '')
      +quote('Take small steps.', 'Hans Rosling', '')
      +quote('Don\'t be busy, be productive.', 'Tim Reichel', '')
      +quote('I only needed the money for my mindset to free myself from the fear of failure.', 'Leon Windscheid', '')
      +quote('Rather work on yourself to be better than others.', 'Larissa Rieß', '')
      +quote('Those who say it cannot be done should get out of the way of those who are doing it', 'Mentor', '')
      +quote('Earning a living by living a passion offers greater value.', 'Mentor', '')
      +quote('If you build something for everyone, it works for no one.', 'Brian Alvey', '')
      +quote('Use technology to keep in touch, share best practice, learn, collaborate, evolve.', 'Gerry McGovern', '')
      +quote('It is not always the people who start out the smartest who end up the smartest.', 'Carol S. Dweck', '')
      +quote('If it cannot be reduced, reused, repaired, rebuilt, refurbished, refinished, resold, recycled or composted, then it should be restricted, redesigned or removed from production.', 'Pete Seeger', '')

    script
      include main-dist.js